.app {
    background: #209cee;
    height: 100vh;
    padding: 30px;
  }
  .input{
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 1.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 400px;
    padding: 5px;
  }
  
  .todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .todo-list{
    border: 1px solid red;
    margin: auto;
    padding: 1%;
  }
  .todo-list h1{
    text-align: center;
    border-bottom: 1px solid orangered;
  }
  .todo button{
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .todo .completed{
    background: #209cee;
    margin-right: 10px;
  }
  .todo .supp{
    background: #810202;
  }